.main {
  background-color: #eee;
}

.head {
  background-color: #F3E4B9;
}

.link {
  color: red;
}

.login {
  background-color: transparent;
  border: none;
  color: #060505;
  font-weight: 700;
}

.login:hover {
  background-color: transparent;
  border: none;
  color: #fc8f00;
  font-weight: 700;
}

.register {
  background-color: transparent;
  color: #ff9100;
  border-color: #fc8f00;
  font-weight: 600;
  border-radius: 30px;
}

.register:hover {
  background-color: #fc8f00;
  color: white;
  border-color: #fc8f00;
}

.mainLeft {
  padding-top: 35px;
  padding-bottom: 50px;
}

.mainLeft h1 {
  z-index: 10;
  font-size: 70px;
  max-width: 80%;
  color: #0E0E0E;
}

.mainLeft p {
  max-width: 65%;
  color: #0E0E0E;
}

.mainLeft Button {
  color: white;
  border-radius: 8px;
  background-color: goldenrod;
  margin-right: 20px;
  padding: 0px 30px;
  border: none;
}

.dollar {
  font-size: 25px;
}

.mainpic {
  z-index: 0;
  position: absolute;
  bottom: 0px;
  right: 16px;
  height: 73%;
  width: 33%;
  background-image: radial-gradient(circle at center center,
      rgb(138, 241, 115),
      transparent 70%);
}

.designation {
  background-color: white;
  position: absolute;
  bottom: -35px;
  right: 9%;
  padding: 15px 38px;
  border-radius: 5px;
}

.tophead {
  font-size: 42px;
  font-weight: 600;
}

.cardBody {
  border-radius: 18px;
  display: flex;
  justify-content: center;
}

.cardDetails {
  padding: 10px 15px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}